.authForm {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.12rem;
  width: 100%;
  font-size: medium;
  box-sizing: border-box;
  padding: 0.5rem;
}

.authFormInput {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.authFormSubmitButton {
  margin: 0.5rem;
}

.authForm:hover {
}
